@model LinkingLogsWebApp.Views.ViewModels.SiteManagerIndexViewModel 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row ll-row">
        <div class="col-3">
            <div class="row ll-status-box text-center">
                <div class="col">
                    <div class="row ll-status-content">
                        <div class="col">
                            <span>Active Sites</span>
                        </div>                        
                    </div>
                    <div class="row ll-status-content">
                        <div class="col">
                            @Html.Raw(Model.ActiveSites.ToList().Count)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-7">
            Middle
        </div>
        <div class="col-2">
            Right column
        </div>
    </div>
</div>
