
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row ll-row">
        <div class="col-3">
            Left column
        </div>
        <div class="col-7">
            Middle
        </div>
        <div class="col-2">
            Right column
        </div>
    </div>
</div>
