.ll-card {
    width:375px;
    display:inline-block;
    margin:10px;
}

.ll-card:hover {
    box-shadow: 1px -1px 15px 3px grey;
    width:380px;
}

.ll-card-text {
    font-size:1.5em;
    font-family: 'Arial Rounded MT','Segoe UI', 'Times New Roman';
    text-shadow: -1px 0px black, 0 1px black, 1px 0 black, 0 -1px black;
    color:white;
}

.ll-row{
    width:95%;
}

.ll-link:hover{
    text-decoration:none;
    color:#2b3089;
}

.btn-success {
    background-color: #1d3e1d;
}

.ll-bg-gradient {
    background-image: radial-gradient(green 5%, white 75%, white 99%);
}

.ll-form-header {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ll-form-shadow {
    box-shadow: green 0px 1px 90px;
    background-color: #80808045;
    border: 1px solid black;
    padding: 30px;
}