#map {
    height: 100%;
}

html, body {
    height: auto;
    margin: 0;
    padding: 0;
    overflow:visible;
    padding-bottom:65px;
}

#floating-panel {
    position: absolute;
    top: 165px;
    left: 40%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

table {
    margin-bottom:2rem;
}
