@{
    ViewData["Title"] = "Home";
    Layout = "_anonLayout";
}


<div class="row text-center" style="padding:15px">
    <div class="col">
        <h4>New User? Register as...</h4>
    </div>
</div>
<div class="row text-center">
    <div class="col">
        <a asp-area="Identity" asp-page="/Account/Register">
            <div class="card ll-card">
                <img class="card-img-top" src="~/imgs/trees.jpg" alt="card image" />
                <div id="cardManager" class="card-body bg-success">
                    <span class="ll-card-text">Site Manager</span>
                </div>
            </div>
        </a>
        <div class="card ll-card">
            <img id="card2" class="card-img-top" src="~/imgs/truck.jpg" alt="card image" />
            <div id="cardTrucker" class="card-body bg-info">
                <span class="ll-card-text">Trucker</span>
            </div>
        </div>
    </div>
</div>

